@mixin grid-item-columns($columns) {
  width: (100% / 12) * $columns;
}

.grid-items {
  ///////////////////////////////////////////////////////////////////////////////////
  $base-accent-color: #477DCA !default;
  $base-background-color: white !default;
  $medium-screen: em(640) !default;
  $large-screen: em(860) !default;
  p {

    line-height: 1.5em;
  }

  a {
    text-decoration: none;
  }
  //////////////////////////////////////////////////////////////////////////////////

  $grid-items-background: $base-background-color;
  $grid-item-background: desaturate($base-accent-color, 30%);
  $grid-item-colors: $mainColor, lighten($mainColor, 10%), darken($mainColor, 10%);
  $grid-item-border-size: 0px;
  $grid-item-columns: 6;
  $grid-item-big-columns: 6;
  $grid-item-color: darken($mainColor, 70%);
  $grid-item-height: 25em;

  @include clearfix;

  .grid-item {
     border: 1px solid red;
    //margin: .em;
    //border: .3em solid shade($mainColor, 40%);
    @include transition (all 0.2s ease-in-out);
    //background: $grid-item-background;
    //margin: .2em;
    cursor: pointer;
    float: left;
    //height: $grid-item-height;
    overflow: hidden;
    outline: none;
    text-align: center;
    width: 100%;
    //@include padding(.25em);
    @include media($large-screen) {
      @include grid-item-columns($grid-item-columns);
    }

    //background-color: $mainColor;
    //box-shadow: 0 2px 4px darken(black, 10%);
    div {
        @include padding(.35em);
        border-radius: .2em;
        @include linear-gradient(to top, lighten($mainColor, 37%), lighten($mainColor, 45%));
    }

    @for $i from 1 through length($grid-item-colors) { // assign colors from $grid-item-colors list
      &:nth-child(#{$i}) {
        //$background-from-list: $mainColor;

        /*
        &:focus,
        &:hover {
          background-color: darken($background-from-list, 10%);
          background-repeat: no-repeat;
          background-position: top;
          background-size: cover;
        }
        */
      }
    }
  }

  .grid-item img {
    @include span-columns(5 of 12);
    height: auto;
    //  @include vertical-align();
    border-radius: .15em;
    @include padding(.3em);
    @include linear-gradient(to top, darken($mainColor, 15%), $mainColor);
    box-shadow: 0px 5px 10px 10px rgba(0,0,0,.1) !important;
    border: 1px solid darken($mainColor, 20%);

    }

  .grid-item h1 {
      color: $grid-item-color;
      font-size: 1.3em;
      margin-bottom: 0.4em;
    }

  .grid-item p {
      //margin: auto;
      color: transparentize($grid-item-color, 0.3);
      /*
      @include media($medium-screen) {
        max-width: 70%;
      }
      */
      text-align : left;
    }

  .grid-item-big {
    @include media($large-screen) {
      @include grid-item-columns($grid-item-big-columns);
    }
    p {
      @include media($medium-screen) {
        max-width: 60%;
      }
    }
  }

  .grid-item-image {
    background: url("https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png");
    background-color: $grid-item-background;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
