.hero {
    //@include bounceIn(1,7);
  ///////////////////////////////////////////////////////////////////////////////////
  $base-border-radius: 3px !default;
  $base-accent-color: #477DCA !default;
  $large-screen: em(860) !default;
  //////////////////////////////////////////////////////////////////////////////////

  $hero-background-top: lighten($mainColor, 25%);
  $hero-background-bottom: darken($mainColor, 25%);
  $gradient-angle: 10deg;
  $hero-image: 'http://40.media.tumblr.com/80879c868aabf316358204cb0acd4a05/tumblr_mrztth5xup1sdyj9lo1_1280.jpg';
  $hero-image2: "https://farm8.staticflickr.com/7006/6624374227_c5c77be1fa_b.jpg";
  @include background(url($hero-image2), linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top), no-repeat $hero-background-top scroll);
  background-color: #324766;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 1em;


  .hero-logo img {
    @include bounceIn(1s,1s);
    height: 5em;
    margin-bottom: 1em;
  }

  .hero-inner {

    @include outer-container;
    @include clearfix;
    //color: $hero-color;
    margin: auto;
    padding: 1em;
    text-align: center;

    .hero-copy {
      text-align: center;

      h1 {
        @include fadeIn(1s,2s);

        font-size: 1.6em;
        margin-bottom: 0.5em;
        color:  lighten($mainColor, 40%);
        /*
        @include media($large-screen) {
          font-size: 1.8em;
        }
        */
      }

      p {
        @include fadeIn(1s,2.5s);
        color: lighten($mainColor, 60%);
        font-weight: 200;
        line-height: 1.4em;
        //text-align: left;
      //  margin: 0 auto 3em auto;
      /*
        @include media($large-screen) {
          font-size: 1.1em;
          max-width: 40%;
        }
        */
      }
    }

  }
}
