.bullets {
  ///////////////////////////////////////////////////////////////////////////////////
  $base-bg : $mainColor;
  $base-line-height: 1.5em !default;
  $base-accent-color: darken($base-bg, 8%) !default;
  $base-link-color: $base-accent-color !default;
  $base-font-color: darken($base-bg, 40%);
  padding: .75em;
  color: $base-font-color;

  background-color: $base-bg;
  @include linear-gradient(to top, lighten($mainColor, 35%), lighten($mainColor, 50%));
  h2 {
    margin: 0;
    text-shadow: 0px 1px 2px lighten($mainColor, 60%);

  }

  li {
    list-style: none;
  }

  p {
    line-height: $base-line-height;
  }

  img {
    max-width: 100%;
  }

  i{
    color: lighten($base-bg, 20%);
  }
  //////////////////////////////////////////////////////////////////////////////////

  $icon-bullet-size: 3.5em;

  @include display(flex);
  @include flex-wrap(wrap);
  margin-bottom: $base-line-height;
  margin: 0;
  //margin: .5em 0 .5em 0;
  overflow: auto;

  .bullet {
    @include flex-basis(20em);
    @include flex-grow(1);

  }

  .bullet-icon {
    border-bottom: darken($mainColor, 50%);
    text-shadow: 0px 1px 1px lighten($mainColor, 50%);
    border-radius: 25%;
    float: left;
    height: $icon-bullet-size;
    text-align: center;
    vertical-align: middle;
    //padding: $icon-bullet-size / 5;
    @include linear-gradient(to top, lighten($mainColor, 25%), lighten($mainColor, 35%));

    width: $icon-bullet-size;

    i {
      color: darken($mainColor, 30%);
        @include vertical-align();
    }
  }

  .bullet-content {
    margin-left: $icon-bullet-size * 1.4;
    //margin-bottom: 1em;
  }

  h2 {
    border-bottom: 1px solid transparentize($base-font-color, 0.8);
    display: inline-block;
    font-size: $icon-bullet-size / 2.5;
    margin-bottom: $icon-bullet-size / 6;
    padding-top: $icon-bullet-size / 7;
  }
}
